*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "barlow";
  src: url("./barlow/Barlow-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #eff6ff;
  color: #2a4a5c;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "barlow", sans-serif;
}


.login-window {
  background-color: #ffffff;
  display: flex;
  max-width: 100%;
}

.window-half {
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 420px;
  text-align: left;
}

.main-title{
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 8px;
}

.second-title{
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 16px;
}

.first-secondary-text{
  color: #96A5B1;
  margin-bottom:48px;
  font-size: 16px;
}

.second-secondary-text{
  color: #96A5B1;
  margin-bottom:48px;
  font-size: 12px;
}

.image-side {
  position: relative;
  flex: 1;
  overflow: visible;
}

.image-side > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-side .logo-img {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 120px;
  height: auto;
  z-index: 10;
}

.social-buttons {
  display: flex;
  width: 100%;
  gap: 12px;
  margin: 20px 0;
  margin-bottom: 32px;
}

.facebook-button {
  background-color: #255a9b;
  color: #ffffff;
  flex: 1;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  white-space: nowrap;
  border: 0;
  text-decoration: none;
}

.linkedin-button {
  background-color: #0076b6;
  color: #ffffff;
  flex: 1;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  white-space: nowrap;
  border: 0;
  text-decoration: none;
}

.facebook-button img {
  width: 15px;
  height: 15px;
}

.linkedin-button img {
  width: 15px;
  height: 15px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 32px 0;
  font-size: 10px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  max-width: 100px;
  height: 1px;
  background: #afafaf;
}

.radio-group {
  display: flex;
  gap: 12px;
  margin: 16px 0 96px;
}

.radio-item {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  color: #2a4a5c;
}

.radio-item:hover{
  color: #3698fb;
}

.reg-inputs {
  display: flex;
  gap: 16px;
  margin: 32px 0;
  width: 100%;
}

.field {
  position: relative;
  flex: 1;
  width: 100%;
  
}

.field label {
  position: absolute;
  color: #afafaf;
  top: 6px;         
  left: 12px; 
}

.field input {
  width: 100%;
  padding: 20px 12px 8px; 
  border: 1px solid #eeeeee;
  border-radius: 4px;
  font-size: 14px;
  overflow-x: auto;
  white-space: nowrap;
}

.field input:focus {
  outline: none;
  border-color: #eeeeee;          
  border-left: 2px solid #3698fb;
}

.create-account-button {
  padding: 10px 32px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  background-color: #3698fb;
  color: #fff;
  border: none;
}

.terms {
  color: #afafaf;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 12px;         
  line-height: 1.4;
  margin-bottom: 48px;
}

.terms label{
  white-space: nowrap;
}

.terms a {
  color: #3698fb;
  text-decoration: underline;
}

.info{
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 14px;
  height: 14px;
  font-size: 10px;

  border: 1px solid #afafaf;
  border-radius: 50%;
  color: #afafaf;
}

.tooltip{
  position: absolute;
  top: calc(100% + 8px);   
  left: 50%;
  transform: translateX(-50%);

  background: #fff;
  padding: 8px;
  width: 200px;
  font-size: 12px;

  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.info:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
